<!DOCTYPE html>
<html lang="fr">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      {# Titre et métadonnées gérées par Inertia #}
      {{ inertiaHead(page) }}

      {# Tes fichiers compilés par Vite #}
      {{ vite_entry_link_tags('app') }}
  </head>
  <body class="bg-gray-50 text-gray-900">
      {# Le contenu Inertia sera injecté ici #}
      {{ inertia(page) }}

      {# Scripts Vite #}
      {{ vite_entry_script_tags('app') }}
  </body>
</html>
